@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'FigtreeEb';
        font-weight: 800;
        src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    }
    @font-face {
        font-family: 'FigtreeSb';
        font-weight: 600;
        src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
    }

}